In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [ ]:
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

# Nova seção

In [ ]:
df.sample(14)

        Cidade       Data  Vendas  LojaID  Qtde
53     Aracaju 2018-01-01    8.64    1522     2
14   Fortaleza 2019-01-12  132.68    1005     1
68      Recife 2019-01-01  175.45     980     3
67   Fortaleza 2019-01-01   43.51    1003     1
82      Recife 2019-01-01   29.55     981     6
20      Recife 2019-01-01   42.35     982     3
113   Salvador 2019-03-02   18.90    1034     3
112  Fortaleza 2019-03-02  133.59     982     1
77       Natal 2019-04-01  426.00     853     3
117   Salvador 2019-03-02   39.41    1034     1
102  Fortaleza 2019-01-01   13.99    1004     3
3       Recife 2019-02-10  160.54     981     3
189      Natal 2019-01-02  139.73    1037     2
132   Salvador 2019-03-02   19.61    1036     2

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df["Vendas"].fillna(df["Vendas"].mean(), inplace = True)

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
122   Salvador 2019-03-02   13.27   1037     1
130   Salvador 2019-03-02   59.78   1036     1
97     Aracaju 2018-01-01   32.69   1521     5
215      Natal 2019-01-02  203.84   1036     1
63    Salvador 2019-01-01  166.59   1036     1
130      Natal 2019-01-02   59.78   1036     1
211      Natal 2019-01-02  141.05   1035     3
59      Recife 2019-01-01   89.39    983     5
117     Recife 2019-03-02   15.42    983     8
220      Natal 2019-01-02   42.71   1035     1
24    Salvador 2019-01-01   15.60   1034     2
93   Fortaleza 2019-01-01   35.25   1003     5
185   Salvador 2019-01-02    6.67   1036     1
108   Salvador 2019-03-02   11.72   1037     1
54      Recife 2019-01-01   23.43    982     7

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.dropna(subset=["Vendas"],inplace=True)

In [ ]:
df["receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
df["receita/vendas"] = df["receita"] / df["Vendas"]

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  receita  receita/vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
df["receita"].max()

3544.0

In [ ]:
df["receita"].min()

3.34

In [ ]:
df.nlargest(3,"receita")

   Cidade       Data  Vendas LojaID  Qtde  receita  receita/vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
df.nsmallest(3,"receita")

      Cidade       Data  Vendas LojaID  Qtde  receita  receita/vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [ ]:
df.groupby("Cidade")["receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: receita, dtype: float64

In [ ]:
df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
receita                  float64
receita/vendas           float64
dtype: object

In [ ]:
df.groupby(df["Data"].dt.year)["receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: receita, dtype: float64

In [ ]:
df["Ano_venda"] = df["Data"].dt.year

In [ ]:
df.sample()

   Cidade       Data  Vendas LojaID  Qtde  receita  receita/vendas  Ano_venda
31  Natal 2018-04-03   401.0    854     4   1604.0             4.0       2018

In [ ]:
df["Mes_venda"],df["Dia_venda"] = (df["Data"].dt.month,df["Data"].dt.day)

In [ ]:
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,receita,receita/vendas,Ano_venda,Mes_venda,Dia_venda
42,Fortaleza,2019-01-01,38.71,1004,5,193.55,5.0,2019,1,1

In [ ]:
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
df["Diferenca_dias"] = df["Data"] - df["Data"].min()

In [ ]:
df.sample(3)

,Cidade,Data,Vendas,LojaID,Qtde,receita,receita/vendas,Ano_venda,Mes_venda,Dia_venda,Diferenca_dias
0,Aracaju,2018-01-01,142.00,1520,1,142.00,1.0,2018,1,1,0 days
1,Salvador,2018-01-01,19.02,1034,3,57.06,3.0,2018,1,1,0 days
214,Natal,2019-01-02,54.94,1036,2,109.88,2.0,2019,1,2,366 days

In [ ]:
df["trimestre_venda"] = df["Data"].dt.quarter

In [ ]:
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]