In [1]:
#importando biblioteca pandas
import pandas as pd

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Gapminder.csv',error_bad_lines=False,sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#ver 5 linhas

df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
df = df.rename(columns={"country":"pais","continent":"continente","year":"ano","lifeExp":"expectativa de vida","pop":"populacao","gdpPercap":"PIB"})

In [12]:
df.head(10)

          pais continente   ano  expectativa de vida  populacao         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [13]:
df.tail()

          pais continente   ano  expectativa de vida  populacao         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [14]:
df.describe()

               ano  expectativa de vida     populacao            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [15]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)